<!DOCTYPE html>
<html>
<head>
    <title>User Form</title>
</head>
<body>
    <h1>Welcome {{ firstname }} {{ lastname }}</h1>
    <p>For Seattle, Washington, USA:</p>
    <ul>
        <li>Temperature °C: {{ temperature_c }}°C</li>
        <li>Temperature °F: {{ temperature_f }}°F</li>
        <li>Precipitation: {{ precipitation }} inches</li>
        <li>Humidity: {{ humidity }}%</li>
        <li>Wind Speed: {{ wind_speed }} mph</li>
    </ul>
    <a href="/weather_info?firstname={{ firstname }}&lastname={{ lastname }}&city={{ home_city }}&state={{ home_state }}&country={{ home_country }}" class="btn btn-primary">Back to Weather Info</a>
</body>
</html>